#page {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "head head"
                       "main  main"
                       "foot  foot";
  grid-template-rows: 100px 1fr 10px;
  grid-template-columns: 0px 1fr;
}

#page > header {
  grid-area: head;
  background-color: #FF0000;
}


#page > main {
  grid-area: main;
  background-color: #FF6666;
}

#page > footer {
  grid-area: foot;
  background-color: #FF0000;
}